// *** THEME COLOUR *** //
$themeColor: #099dcd;
$secondaryColor: #b4b4b4;
$lightColor: #f5f5f5;

// *** FONTS *** //
$sansSerif: 'Roboto', sans-serif;

// *** BORDERS *** //
$themeBorder: $themeColor 1px solid;
$lightBorder: $lightColor 1px solid;
$themeThickBorder: $themeColor 3px solid;
$lightThickBorder: $lightColor 3px solid;
