// *** THEME COLOUR *** //
$themeColor: #099dcd;
$secondaryColor: #b4b4b4;
$lightColor: #f5f5f5;
$translucentThemeColor: rgba(9, 157, 205, 0.6);

// *** FONTS *** //
$sansSerif: 'Rubik', sans-serif;

// *** BORDERS *** //
$themeBorder: $themeColor 1px solid;
$lightBorder: $lightColor 1px solid;
$themeThickBorder: $themeColor 3px solid;
$lightThickBorder: $lightColor 3px solid;

// *** BREAKPOINTS *** //

//breakpoints
$extraSmallScr: 480px;
$smallScr: 736px;
$mediumScr: '980px';
$largeScr: '1280px';
$extraLargeScr: '1690px';
