@import '../../styles/common';

body {
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: $sansSerif !important;
  @include set-selection($lightColor, $themeColor);
  overflow-x: hidden;
  width: 100%;
}

a {
  color: $themeColor;
  text-decoration: none;
  cursor: pointer;

  &:link {
    color: $themeColor;
    text-decoration: none;
  }

  &:visited {
    color: $themeColor;
    text-decoration: none;
  }

  &:hover {
    color: $themeColor !important;
    text-decoration: none !important;
  }

  &:active {
    color: $themeColor;
    text-decoration: none;
  }
}

.highlighted {
  font-weight: bold;
  color: setColor(4);
}

.separator {
  background-color: $lightColor;
  height: 8px;
  margin-bottom: 1.5em;
}

.section {
  padding: 2em 2em 4em 2em;
}

.subsection {
  padding: 1.5em 0;
}


.lightBackground {
  background-color: $lightColor;
  color: $themeColor;

  @include set-selection($themeColor, $lightColor);

  h1 {
    color: $themeColor;
  }

  .highlighted {
    color: $themeColor;
  }
}

.themeBackground {
  background-color: $translucentThemeColor;
  color: $lightColor;

  @include set-selection($lightColor, $themeColor);

  h1 {
    color: $lightColor;
  }

  .highlighted {
    color: $lightColor;
  }
}


.lightBackgroundHoverable {
  background-color: $lightColor;
  color: $themeColor;

  transition: background-color 1s ease-in-out;
  &:hover {
    background-color: setColor(2);
  }

}

.themeBackgroundHoverable {
  background-color: $themeColor;
  color: $lightColor;

  transition: background-color 1s ease-in-out;
  &:hover {
    background-color: setColor(4);
  }
}

.withBorder {
  border: $lightColor 2px solid;
}

.sectionContent {
  padding: 3% 1% 5% 1%;
  overflow: hidden;
}

.bubbleWrapper {
  padding: 8em 0;
}

.bubbleSecondaryWrapper {
  padding: 4em 0;
}

//for vertically centered content
.verticallyCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//for horizontally centered content
.horizontallyCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//for content centered both vertically and horizontally
.centeredBothWays {
  display: flex;
  justify-content: center;
  align-items: center;
}

.translucent {
  opacity: 0.4;
}