@import '../../styles/common';

.emailLink {
  font-size: 1.2em;

  @media all and (max-width: 450px) {
    font-size: 1em;
  }

  @media all and (max-width: 370px) {
    font-size: 0.8em;
  }
}

.contactLink {
  padding: 0.2em 0;
}