@import '../../../styles/common';


.portraitWrapper {
  height: 210px;
  width: 180px;
  overflow: hidden;
  @include obliqueBox(-3deg);
}

.portrait {
  height: 100%;
  position: relative;
  left: -10%;
  opacity: 0.8;
}